html {
    scroll-behavior: smooth;
}

body {
    background-color: #131B23;
    margin: 0px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0.75rem;
    height: 3.25rem;
    background-color: #33477E;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;
    color: #DEE5E5;
    font-family: "Inter";
}

.top-bar > * {
    margin: 0px;
    padding: 0px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hero > * {
    padding: 0px;
    margin: 1rem;
}

.hero .text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 21rem;
    overflow-wrap: break-word;
    min-width: 21rem;
}

.hero .text > * {
    padding: 0px;
    margin: 0px;
    font-size: 4rem;
    font-family: "Inter";
    line-height: 6rem;
    color: #DEE5E5;
}

.hero .text > span {
    font-weight: lighter;
}

.hero .text .name {
    font-family: "Inter";
    font-weight: normal;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}

.hero .text .hero-paragraph {
    line-height: normal;
    font-weight: normal;
    font-size: 2rem;
    margin: 0px;
}

.hero .collage {
    min-width: 0;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    padding: 0rem, 1rem, 0rem, 1rem;
    gap: 1rem;
}

.hero .collage > img {
    max-width: 28rem;
    width: auto;
    height: auto;
    border-radius: 40px;
    corner-shape: squircle;
    min-width: 0;
}

.hero .collage .collage-stack {
    min-width: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 1rem;
}

.hero .collage .collage-stack > img {
    max-width: 20.615rem;
    width: auto;
    height: auto;
    border-radius: 40px;
    corner-shape: squircle;
    min-width: 0;
}

.hello {
    font-family: "Inter";
    font-weight: lighter;
}

.hello::after {
    content: "Hello,";
    animation: helloAnimation 10s infinite cubic-bezier(0.11, 0, 0.5, 0);
    z-index: 0;
}

@keyframes helloAnimation {
    90% {
        opacity: 1;
    }
    92% {
        opacity: 0;
    }
    100% {
        content: "Hello,";
    }
    0% {
        content: "Hello,";
    }
    3% {
        opacity: 1;
    }

    15% {
        opacity: 1;
    }
    

    17% {
        opacity: 0;
    }
    25% {
        content: "こんにちは,";
    }
    28% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    42% {
        opacity: 0;
    }
    50% {
        content: "Kumusta,";
    }
    53% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    
    67% {
        opacity: 0;
    }
    75% {
        content: "안녕,";
    }
    78% {
        opacity: 1;
    }
}

@font-face {
    font-family: "Inter";
    src: url("../assets//fonts//Inter-4.1/InterVariable.ttf");
}